
@font-face {
  font-family: Bebas;
  src: url(fonts/BebasNeue.otf);
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: RobotoCondensed;
  src: url(fonts/RobotoCondensed-Bold.ttf);
}



body {
  
   background:#DBDCDE;
   background-image: url('images/WoodFine0008_L.jpg');
   background-repeat: repeat;
   
}



p {
   font-family:Roboto;
   font-size:12pt;
}



h1 h2 h3 h4 h5 h6 {
   text-align:right;
}

h1 {
  font-size:50pt;
  color:#95B9E2;
}

h2 {
   font-size:28pt;
   color:#908670;
}

h3 {
   font-size:20pt;
   color:#C5DAE6;
   
}

.tweettitle {
  margin-top:50px;
  font-size:30pt;
  color: #93BED7;
}

.header {
   font-family:'RobotoCondensed';
   
   font-size:30pt;
   text-align:left;
   color: #163854;
}

.header2 {
  font-family:'RobotoCondensed';
   margin-top:-60px;
}

.deck {
   font-family:'Roboto';
   font-size:12pt;
   text-align:left;
   color: #163854;
   background-color:#DCE9F4;
   padding:20px;
}

.numbers {
   font-family:Bebas;
   font-size:50pt;
   text-align:center;
   color:#163854;  
}


.deaths {
   font-family:Roboto;
   font-size:20pt;
   text-align:center;
   color:#908670;
}

.smalltext {
   font-family:Roboto;
   font-weight: 300;
   font-size:11pt;
   text-align:left;
   padding-left:40px;
   padding-right:20px;
   padding-bottom:10px;
   color:#908670;
   
}

.cigarette {
   margin-top:-30px;
}

.bluearrow {
   
}

.box {
   background-color: #F1F0E8;
   border-style:solid;
   border-color:#908670;
   border-width:1px;
}

.arrow {
   font-size:16pt;
}

.between {
   color:#95B9E2;
   font-family: Bebas; 
   font-size:25pt;
   margin-top:-10px;
   line-height: 27pt;
}

.fltr {
   float:right;
}

.fltl {
   float:left;
}

#chart1 {
   background-color:#F1F0E8;
}

.maptitle {
   font-family:InterstateRegularCompressed;
   font-weight:400;
   text-align:center;
   color:#908670;
   font-size:15pt;
   margin-top:25px;
}

.table {
   background-color:#F1F0E8;
   width:100%;
   font-family:InterstateRegularCompressed;
   padding:10px;
}

.table th {
   background-color:#FFFFFF;
}

.headWhite{
   background-color: #C5DAE6;
   font-weight: 400;
   font-size:18px;
   
}



#scrollbar1 {
  width: 100%;
  clear: both;
  margin: 20px 0 10px;
  
  }
  
#scrollbar1 .viewport {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: absolute;
  }
  
#scrollbar1 .overview {
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
  }
#scrollbar1 .thumb .end,
#scrollbar1 .thumb {
  background-color: #003D5D;
  }
#scrollbar1 .scrollbar {
  position: relative;
  float: right;
  width: 20px;
  }
#scrollbar1 .track {
  background-color: #D8EEFD;
  height: 400px;
  width:13px;
  position: relative;
  padding: 0 1px;
  }
#scrollbar1 .thumb {
  height: 5px;
  width: 13px;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 0;
  }
#scrollbar1 .thumb .end {
  overflow: hidden;
  height: 5px;
  width: 13px;
  }
  
#scrollbar1 .disable{
  display: none;
  }
.noSelect {
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  }

#photos-wrap {
  width:80%;
}

.instaphoto {
  width:100%;
  padding:10px;
  background-color: #DCE9F4;

}

.twitterbackground {
  margin-top:40px;
  background-color:#031E2D;
  border-color: #DCE9F4;
  border-style:solid;
  border-width:5px;
  
}


#scrollbar2 {
  width: 100%;
  clear: both;
  margin: 20px 0 10px;
  
  }
  
#scrollbar2 .viewport2 {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: absolute;
  }
  
#scrollbar2 .overview2 {
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
  }
#scrollbar2 .thumb2 .end2,
#scrollbar2 .thumb2 {
  background-color: #003D5D;
  }
#scrollbar2 .scrollbar2 {
  position: relative;
  float: right;
  width: 20px;
  }
#scrollbar2 .track2 {
  background-color: #D8EEFD;
  height: 400px;
  width:13px;
  position: relative;
  padding: 0 1px;
  }
#scrollbar2 .thumb2 {
  height: 5px;
  width: 13px;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 0;
  }
#scrollbar2 .thumb2 .end2 {
  overflow: hidden;
  height: 5px;
  width: 13px;
  }
  
#scrollbar2 .disable{
  display: none;
  }
.noSelect {
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  }
  
.twitter-timeline {
  width:100%;
  height:400px;
}

.twitterback {
  background-color: #163854;
}

